body{
    background-image: url("/imagenes/pagina/pexels-mike-468229-1171084.jpg");
    background-position: center;
    background-size: cover;
    }
    

.textgrand{
    font-size: 40px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin-top: 1px;
 
 
}
 
.inicioses:focus{
    box-shadow: 0 0 20px black;
}
 
.header1{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 40px;
    padding-bottom: 20px;
}
 
.texto_regis{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: medium;
   
}
.aqui{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    text-decoration: none;
    color: grey;
    transition: 0.4s;
}
 
.cuadrito{
    display: flex;
    border-radius: 30px;

    box-shadow: 0 0 30px rgb(255 255 255 / 63%);    width: 900px;
    height: 800px;
    margin-left: 220px;
    margin-top: 50px;
    flex-direction: column;
    background-color:  rgb(255 255 255 / 63%);
    }
 
.aqui:hover{
    color: darkblue;
    text-shadow: 0 0 10px 10px darkblue;
}
 
input{
    font-size: larger;
}
 
 
 
.divform{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
 
.inicioses{
    border: 1px solid #979797;
    color: #000;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 1rem;
    color: #3f3f40;
    font-weight: 400;
    padding: 10px;
    margin: 0.5rem 0;
    border-radius: 12px;
    outline: none;
    border: 1px solid #979797;
    color: #000;
    transition: 0.5s;
    background-color:  rgb(255 255 255 / 63%);
}
 
.iniciarsesion{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.ingresar{
    width: 100px;
    margin: 20px auto;
    background-color: #111;
    color: #fff;
    font-size: .875rem;
    line-height: 40px;
    border-radius: 9999px;
    display:block;
    height: 40px;
    min-height: 40px;
    transition: opacity .2s;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 0px 28px 1.2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: 0.5s;
 
}
 
.ingresar:hover{
    background-color:#424141 ;
}
 
.ingresar:focus{
    transform: scale(0.8);
 
}
 
.nacimiento{
    border: 1px solid #979797;
    color: #111;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 1rem;
    color: #616161;
    font-weight: 400;
    padding: 10px;
    margin: 0.5rem 0;
    border-radius: 12px;
    width: 245px;
    outline: none;
    transition: 0.5s;
    background-color:  rgb(255 255 255 / 63%);
}
 
.nacimiento:focus{
    box-shadow: 0 0 20px black;
}
